* {
  padding: 0;
  margin: 0;
  font-family: 'Kansei-Regular';
}

@font-face {
  font-family: 'Kansei-Regular';
  src: url('./fonts/Kansei-Regular.otf') format('opentype');
  src: url('./fonts/Kansei-Regular.ttf') format('truetype');
}

.background {
  background-image: url('./backgrounds/background.png');
  background-size: 100%;
  height: 100vh;
}

.title {
  color: #000000;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
}

.title label {
  font-size: 30px;
}

.display {
  color: #000000;
  font-size: 25px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.hide {
  display: none;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 300px;
  place-items: center;
}

.tile {
  border: double ;
  border-radius: 10px;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
  color: #000000;
  box-sizing: border-box;
}

.tile:hover {
  background: #e63f1c;
  color: #000000;
  z-index: 9;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.controls button {
  width: 200px;
  height: 150x;
  padding: 8px;
  border-radius: 8px;
  border: double;
  margin-left: 1em;
  cursor: pointer;
  font-size: 28px;
  color: #000000;
  background-color: transparent;
}

#reset:active {
  background-color: #e63f1c;
  color: #E6E6E6;
}

@media only screen  and (max-width: 768px) {
  
  .title {
    color: #000000;
    text-align: center;
    font-size: 20px;
    padding-top: 100px;
  }
  
  .title label {
    font-size: 10px;
  }
  
  .display {
    color: #000000;
    font-size: 20px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 210px;
    place-items: center;
  }
  
  .tile {
    border-radius: 7px;
    min-width: 70px;
    min-height: 70px;
    font-size: 30px;
    cursor: pointer;
  }
  
  .controls button {
    width: 100px;
    height: auto;
    font-size: 20px;
  }
}